.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px; /* Space between buttons */
  margin-top: 20px;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  /* border: 2px solid white; */
  border-radius: 50%; /* Circular shape */
 /* Default LinkedIn Blue */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.round-button img {
  width: 50px;
  height:50px;
}

.round-button:hover {
  transform: scale(1.1); /* Zoom effect */
  background-color: #e4f9f5; /* Hover color */
}

/* Section Links */
.section-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.section-link {
  text-decoration: none;
  color: #66BFBF;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.section-link:hover {
  color: #555;
}

.funnel-sans-h2 {
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", serif;
  font-weight: 400;
  font-style: normal;
}

    
.main-title {
  font-size: 110px;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 3s steps(13) 1 normal forwards, blink 800ms steps(2) infinite;
  border-right: 5px solid #66BFBF; /* Cursor effect */
  display: inline-block; /* Ensure the cursor stays next to the text */
  color: #66BFBF;
  /* font-size: 5.6225rem; */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 50%; /* Adjust this value to match the desired text width */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


/* Toggle Switch */
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode img {
  
}

body.dark-mode .top-container {
  background-color: #0B192C; /* Change this to your preferred dark mode color */
}

body.dark-mode .bottom-container{
    background-color: #0B192C;
}

body.dark-mode .section-link:hover {
  color: #ffffff;
}

body.dark-mode .round-button:hover{
  background-color:#0B192C;
}

h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
.intro{
  width: 50%;
  text-align:center;
  font-size: 1.4rem;
  margin: 25px auto;
}
.middle-container{
  margin:100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud{
  position: absolute;
  left: 350px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 350px;
  top: 50px;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}

.img{
  border-radius: 50%;
}
.project-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img{
  float:left;
  width: 25%;
  margin-right: 30px;
}
.pk-img{
  float:right;
  width: 25%;
  margin-right: 30px;
}

hr{
  border-top: 6px dotted grey;
  width: 5%;
  margin: 100px auto;
}
.copywrite{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
